*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

}

  .Catalog {
 
    display: flex-start;
    display: inline;

  }

  .Catalog h2{
    font-size: 30px;
    align-items: center;
  }

.dogUser-container {

    
    display: center;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;



}




.dogUser-container img{

    width: 30%;
    border-radius: 0px;
    display: center;
    transition: transform 0.6s;
    

  
  
  
}

.dogUser-container h5{

    width: 30%;
    border-radius: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.218),#5c5f5f62);
    font-size: 15px;

}




