*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-weight: normal;
  font-size: large;
  
}

  .catalog-box {
    display: grid;
    grid-gap: 30px;
    margin-top: 50px;
    margin-left: 100px;

  }


  .dog-data {
    display: grid;

  }

  

.dogUser-container {

 display: grid;
 grid-template-columns: 1fr 1fr 1fr;

}

.dog-owner {

  width: 60%;
  border: 1px solid black;
  border-radius: 5px;
  

}




.dogUser-container img {

    width: 60%;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.897);
    border-radius: 15px;
  
  
  
}



.dogUser-container h5{

    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.099);
    border-radius: 5px;
  
  
}

.dog-owner {

  opacity: 0;
}

.dog-owner:hover {

opacity: 1;
transition: 0.7s;
color: #0c0c0ca9;
cursor: pointer;
font-family: sans-serif;
font-style: italic;
}





.header-catalog h2{

 margin-left: 40%;
 font-size: 40px;
 
 

}

.more-info {

font-weight: bold;


}




