.info{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-self: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    border: solid rgba(0, 0, 0, 0.377) 2px;
  }





.info-headertext {

    justify-content: center;
 align-items: center;
 font-size: 40px;
 height: 70px;
 font-weight: 60;
 color: rgba(255, 245, 245, 0.881);
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 border: solid black 0px;
 border-radius: 5px;
 cursor: pointer;
 justify-content: center;
 background-color: rgba(47, 79, 143, 0.96);
 margin-left: 40px;
 margin-right: 40px;
 margin-bottom: 400px;
}

.info-small-text {

    color: wheat;
    font-size: 20px;
    font-style: normal;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid rgba(13, 12, 12, 0.205) 2px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    background-color: rgba(47, 79, 143, 0.998);

}